POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops
POSTGRES_DB=mlflow

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MLFLOW_BUCKET=mlflow

MLFLOW_TRACKING_URI=http://localhost:5000

MODEL_NAME=demand_forecasting
MODEL_ALIAS=champion

PROMOTION_METRIC=rmse
MIN_IMPROVEMENT=0.0

AIRFLOW_UID=50000

AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
